* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
   /* Unitless == good */
  color: #333333;
  /*background-color: #F3F3F3;*/
  background: var(--color-secondary);
  transition: ease 1s;
  font-size: 16px;
  line-height: 1.75;
}

.author {
  font-weight: bold;
  /*letter-spacing: 0.1em;*/
  color: #1C8B92;
  /*text-shadow: 0 0 10px #fff;*/
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: var(--link-color);
}

.usercircle {
  width: 20px;
  vertical-align: text-bottom;
  display: inline;
  filter: invert(20%) sepia(97%) saturate(3566%) hue-rotate(17deg) brightness(98%) contrast(102%);

  /*height: 9px;*/
}

.article {
  width: 100%; /* default */
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 60px 30px;
}

.meta {
}

.header *{
  margin-top: 15px;
}

.header {
}

.category {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  display: inline-block;
  background-color: #DFDFDF;
  color: #333333;
  border-radius: 10px;
  padding: 8px 20px;
  margin-right: 15px;
  transition: 0.3s;
}

.category:hover {
  background-color: #197176;
  color: #F2F2F2;
  transition: 0.3s;
}


.pub-date {
  line-height: 1;
  display: inline-block;
  vertical-align: baseline;
}

p, li {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
}

h1 {
  font-size: 2.232em; /* line-height: 3 * 1.75 em; */
  line-height: 1;
}

h2 {
  font-size: 1.826em;
  line-height: 1;
}

h3 {
  font-size: 1.494em;
  line-height: 1.2;
}

h1, h2, h3, p, span, figcaption {
  color: var(--font-color);
  transition: ease 1s;
}


figure {
  padding: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.article ul {
  list-style: none; /* Remove default bullets */
  color: var(--font-color);
}

.article ul li::before {
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #dd3311; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  font-size: 25px;

  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}




/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 80px auto 30px 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 40px;
  width: 40px;
  left: 0px;
  bottom: 4px;
  top: 0;
  bottom: 0;
  margin: auto 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 0 0px 15px #2020203d;
  background: white url('https://i.ibb.co/FxzBYR9/night.png');
  background-repeat: no-repeat;
  background-position: center;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
  background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


.encloseEqn {
  background: var(--color-primary);

  padding: 10px;
  border-radius: 10px;
}


pre {
  background-color: #1E1E1E;
  color: white;
  margin: 0;
}

code {
  display: block;
  padding: 0em;  
}

.codeInline {
  display: inline;
  background: var(--codeInlineColor);
  padding: 4px;
  border-radius: 4px;
}


.theme-light {
  --color-primary: #FF6767;
  --color-secondary: #F3F3F3;
  --color-accent: #fd6f53;
  --font-color: #000000;
  --link-color: #000295;
  --codeInlineColor: #CFCFCF;
}

.theme-dark {
  --color-primary: #077600;
  --color-secondary: #2a2c2d;
  --color-accent: #12cdea;
  --font-color: #ffffff;
  --link-color: #B7B8FF;
  --codeInlineColor: #4F4F4F;
}