*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 0px solid red;
}

body {
	background-color: #ebecf0;	
	font-family: tisa;
	color: #333333;
	background-image: linear-gradient(to bottom right, #0074FF, #70FF00);
}

.headerPresentation {
	margin: 0 auto;
	width: 100%;
	padding: 15%;
	position: relative;
	border: 1px solid green;
}

.main-title {
	/*text-align: center;*/
	/*padding-top: 30px;*/
	/*padding-bottom: 30px;*/
	font-size: 60px;
	width: 500px;
	left: 20px;
	top: 20px;
	/*float: left;*/
	position: absolute;
}

#coffee {
	width: 400px;
	right: 0;
	top: 0;
	position: absolute;
	border: 0px solid blue;
}

.presentation {
	background-color: #fff;
	display: block;
	overflow: auto;
	width: 70%;
	margin: 20px auto;
	box-shadow: 0 0 10px gray;
	padding: 20px;
}

.pres-left {
	float: left;
}

.pres-right {
	float: right;
}

.pres-left, .pres-right {
	width: 40%;
	box-shadow: 0 0 10px gray;
	display: block;
}

.presentation p {
	font-size: 20px;
	padding: 10px;
}

@media only screen and (max-width: 925px) {


	#coffee {
		width: 45%;
	}

	.main-title {
		font-size: 30px;
		width: 45%;		
	}
}



/*---------- marcas ----------*/
.brands{
	margin:	100px auto;
}
.col-5{
	flex: 16.6%;
	padding: 20px;
}
.col-5 img{
	width:	100%;
	cursor: pointer;
	filter: grayscale(100%);
}
.col-5 img:hover{
	filter: grayscale(0);
}

.row{
	margin:	100px auto;
	max-width: 1080px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}